
.anchor-pane {
    -fx-background-color: #1F1D2B;
}


.textLabel {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #D6D6D6;
}

.button-color {
    -fx-background-color:  #EA6969;
    -fx-text-fill:  #D6D6D6;
}


.button:hover {
    -fx-background-color: #FA868666;
    -fx-text-fill:#EA6969;

}

.transparent-background {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.login-fields {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2px;
    -fx-border-color: #D6D6D6;
    -fx-pref-height: 50px;
}

.text-field{
    -fx-text-fill: #D6D6D6;
    -fx-font-family: 'Poppins', sans-serif;
}